{% extends 'userportal/base.html' %} {% load static %} {% block head %}
<!-- Site Title -->
<title>Ecommerce</title>
{% endblock %} {% block body_block %}
<!-- start product Area -->
<section class="section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1> </h1>
                        <p> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if products %} {% for item in products %}
                <div class="col-lg-3 col-md-6">
                    <div class="single-product">
                        <img class="img-fluid" src="{{ item.image.url }}" style="width:263px;height:280px;" alt="">
                        <div class="product-details">
                            <a href="{% url 'user_urls:single_product' item.id %}">
                                <h6>{{ item.name }}</h6>
                            </a>
                            <div class="price">
                                <h6>${{ item.price }}.00</h6>
                                <h6 class="l-through">$210.00</h6>
                            </div>
                            <div class="prd-bottom">

                                <a href="{% url 'user_urls:add_to_cart' item.id %}" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">add to bag</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-heart"></span>
                                    <p class="hover-text">Wishlist</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-sync"></span>
                                    <p class="hover-text">compare</p>
                                </a>
                                <a href="" class="social-info">
                                    <span class="lnr lnr-move"></span>
                                    <p class="hover-text">view more</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="container">
                    <h2> The search you are looking for:<b> {{ q }} </b>Not Exist </h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</section>
<!-- end product Area -->

{% endblock %} {% block scripts %}
<script>
    function updateuserorder(item_id, action) {
        { %
            if not request.user.is_authenticated %
        }
        window.location.replace("{% url 'user_urls:login_1' %}"); { %
            else %
        }
        // let button = $(element)
        // let product_id = button.data("id")
        $.ajax({
            method: "POST",
            headers: {
                'X-CSRFToken': csrftoken
            },
            url: pass,
            data: {
                "action": "add",
                "item_id": item_id
            },
            success: function(data) {
                alert("Added to cart successfully");
            },
            error: function(error) {
                swal("Error", error.responseJSON['message'], "error");
            }
        }) { % endif %
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
{% endblock %}